#logo {
    width: 300px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}


#parte-superiore {
    background-color: rgb(170, 197, 231) ;
} 


#first-photo {
    margin-left: 200px;
}

.color-blue {
    color: rgb(175, 215, 255);
}


.color-grey {
    color: rgb(214, 188, 188);
}


#Scritta-titolo {
    margin-left: 200px;
}

h4 {margin-top: -20px;}

h5 {margin-top: -20px;}
h6 {
    margin-top: 0px;
    margin-left: 200px;
    margin-bottom: 0px;
}
 p {margin-left: 200px;}

 ul {
    margin-left: 177px;
 }
 table {margin-left: 200px;}

 th {color: rgb(255, 255, 255);}

 td {
    background-color: #a9c6dd;
    height: 35px;
  }
  table, th, td {
    border: 1px rgb(250, 250, 250);
}
th {
    background-color: #989de7;
}

#striscia-dispari
{
    background-color: rgb(255, 255, 255);
}
#scritta-footer
{
    color: rgb(255, 255, 255);
    background-color: rgb(57, 57, 95);
    height: 60px;
    text-align: center;
    vertical-align: top;
    margin-left: 0px;
}



/* prima visione della parte superiore*/








