#logo {
    width: 300px;
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
}


#parte-superiore {
    background-color: rgb(158, 173, 214) ;
} 


#first-photo {
    margin-left: 200px;
}

.color-blue {
    color: rgb(175, 215, 255);
}


.color-grey {
    color: rgb(214, 188, 188);
}


#Scritta-titolo {
    margin-left: 200px;
}

h4 {margin-top: -20px;}

h5 {margin-top: -20px;}



/* prima visione della parte superiore*/








